@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

:root {
  --main-color:#FFFFFF;
  --main-rose-color:#FFB8CA;
  --second-rose-color:#FFA5BA;
  --accent-color: #D41443;
  --second-card-color:#F0D1A5;
  --third-card-color:#C2E297;
  --how-it-made-section-color:#FFF5F6;
  --border-color:#E1E1E1;
  --second-font-color:#000000;
  --card-font-color:#907E82;
  --modal-background-color:#E17992;
}

body {
  font-family: "DM Sans" sans-serif;
  background-color: var(--main-color);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.label-title {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.16;
  font-family: "Titan One";
  text-align: center;
  text-transform: uppercase;
  color: var(--second-rose-color);
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .label-title {
    font-size: 26px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .label-title {
    font-size: 30px;
    line-height: 1.13;
  }
}

.section-title {
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.14;
  font-family: "Titan One";
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 48px;
    line-height: 1.14;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
  }
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .product-list {
    gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .product-list {
    flex-wrap: nowrap;
    gap: 32px;
  }
}

.product-item {
  width: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  background-color: var(--main-rose-color);
  border-radius: 24px;
  padding: 40px;
  margin-top: 140px;
}
@media screen and (min-width: 768px) {
  .product-item {
    width: calc((100% - 32px) / 3);
    padding: 40px 32px;
  }
}
@media screen and (min-width: 1200px) {
  .product-item {
    width: calc((100% - 64px) / 3);
    padding: 60px;
    margin-top: 260px;
  }
}

.product-title {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.15;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .product-title {
    margin-top: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .product-title {
    margin-top: 32px;
    font-size: 30px;
    line-height: 1.13;
  }
}
.product-title::after {
  content: "•••";
  display: flex;
  justify-content: center;
  width: 26px;
  margin: 32px auto;
  color: var(--main-color);
}

.product-item.cream {
  background-color: var(--main-rose-color);
}
.product-item.cream::before {
  content: "";
  height: 280px;
  width: 280px;
  margin-top: -180px;
  margin-left: -40px;
  background-image: url("/src/images/p-ice-cream_mob.png");
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .product-item.cream::before {
    height: 224px;
    width: 224px;
    margin-top: -180px;
    margin-left: -32px;
    background-image: url("/src/images/p-ice-cream_tab.png");
  }
}
@media screen and (min-width: 1200px) {
  .product-item.cream::before {
    height: 394px;
    width: 368px;
    margin-top: -320px;
    margin-left: -60px;
    background-image: url("/src/images/p-ice-cream_optimized.png");
  }
}

.product-item.coffee {
  background: var(--second-card-color);
}
.product-item.coffee::before {
  content: "";
  height: 280px;
  width: 280px;
  margin-top: -180px;
  margin-left: -40px;
  background-image: url("/src/images/p-ice-coffee_mob.png");
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .product-item.coffee::before {
    height: 224px;
    width: 224px;
    margin-top: -180px;
    margin-left: -32px;
    background-image: url("/src/images/p-ice-coffee_tab.png");
  }
}
@media screen and (min-width: 1200px) {
  .product-item.coffee::before {
    height: 394px;
    width: 368px;
    margin-top: -300px;
    margin-left: -60px;
    background-image: url("/src/images/p-ice-coffee_optimized.png");
  }
}

.product-item.milk {
  background: var(--third-card-color);
}
.product-item.milk::before {
  content: "";
  height: 280px;
  width: 280px;
  margin-top: -180px;
  margin-left: -40px;
  background-image: url("/src/images/p-milkshake_mob.png");
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .product-item.milk::before {
    height: 224px;
    width: 224px;
    margin-top: -180px;
    margin-left: -32px;
    background-image: url("/src/images/p-milkshake_tab.png");
  }
}
@media screen and (min-width: 1200px) {
  .product-item.milk::before {
    height: 394px;
    width: 368px;
    margin-top: -300px;
    margin-left: -60px;
    background-image: url("/src/images/p-milkshake_optimized.png");
  }
}

.product-text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--main-color);
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .product-text {
    font-size: 14px;
    line-height: 176%;
  }
}
@media screen and (min-width: 1200px) {
  .product-text {
    font-size: 16px;
    line-height: 176%;
    margin-bottom: 60px;
  }
}

.product-button {
  margin: 0 auto;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0;
  background-image: url("/src/images/p-arrow-right.png");
}

.contacts {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
  background: rgb(255, 245, 246);
  background: linear-gradient(0deg, rgb(255, 245, 246) 76%, rgb(255, 255, 255) 76%);
}
@media screen and (min-width: 768px) {
  .contacts {
    background: rgb(255, 245, 246);
    background: linear-gradient(0deg, rgb(255, 245, 246) 54%, rgb(255, 255, 255) 54%);
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    background: rgb(255, 245, 246);
    background: linear-gradient(0deg, rgb(255, 245, 246) 80%, rgb(255, 255, 255) 80%);
  }
}

.contacts-card {
  width: 280px;
  height: 412px;
  background: #FFFFFF;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding-left: 32px;
}
@media screen and (min-width: 1200px) {
  .contacts-card {
    padding-left: 40px;
  }
}
@media screen and (min-width: 768px) {
  .contacts-card {
    width: calc((100% - 64px) / 3);
    width: 224px;
    height: 538px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-card {
    width: 368px;
    height: 538px;
  }
}

.contacts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  margin-bottom: 32px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .contacts-list {
    gap: 32px;
    margin-bottom: 60px;
  }
}

.contacts-top-text {
  font-family: "DM Sans";
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.86;
  color: #FFFFFF;
}
@media screen and (min-width: 320px) {
  .contacts-top-text {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.87;
  }
}

.contacts-top {
  width: 80px;
  height: 16px;
  background: #F0D1A5;
  border-radius: 4px;
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .contacts-top {
    width: 73px;
    height: 28px;
  }
}

.top-color {
  background-color: #C2E297;
  width: 130px;
}
@media screen and (min-width: 768px) {
  .top-color {
    width: 138px;
  }
}

.contacts-location {
  margin-bottom: 8px;
  font-family: "DM Sans";
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .contacts-location {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.85;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-location {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.87;
  }
}

.contacts-text {
  font-family: "DM Sans";
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.86;
  color: #907E82;
}
@media screen and (min-width: 768px) {
  .contacts-text {
    width: 158px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.85;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-text {
    width: 244px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.87;
  }
}

.contacts-weekdays {
  font-family: "DM Sans";
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.86;
}
@media screen and (min-width: 768px) {
  .contacts-weekdays {
    width: 158px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.85;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-weekdays {
    width: 243px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.87;
  }
}

.contacts-weekend {
  font-family: "DM Sans";
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.86;
}
@media screen and (min-width: 768px) {
  .contacts-weekend {
    width: 158px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.85;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-weekend {
    width: 243px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.87;
  }
}

.contacts-work-time {
  font-family: "DM Sans";
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.86;
  color: #FFA5BA;
}
.contacts-work-time:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .contacts-work-time {
    width: 158px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.85;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-work-time {
    width: 243px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.87;
  }
}

.contacts-border {
  border-bottom: 1px solid #E1E1E1;
  width: 216px;
  margin-top: 24px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .contacts-border {
    width: 160px;
  }
}

.contacts-btn {
  width: 161.45px;
  height: 44px;
  border-radius: 22px;
  cursor: pointer;
}

.contacts-btn-item {
  cursor: pointer;
}
.contacts-btn-item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .contacts-btn-item:not(:last-child) {
    margin-right: 14.5px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-btn-item:not(:last-child) {
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.contacts-button {
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contacnts-tel,
.contacnts-mail {
  font-family: "DM Sans";
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.86;
  color: #907E82;
}
@media screen and (min-width: 768px) {
  .contacnts-tel,
.contacnts-mail {
    width: 158px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.85;
  }
}
@media screen and (min-width: 1200px) {
  .contacnts-tel,
.contacnts-mail {
    width: 243px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.87;
  }
}

.contacts-btn {
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 1.31;
  background: #D41342;
  border-radius: 22px;
  border: none;
  color: #FFFFFF;
}

.color-btn {
  color: #D41342;
  background: #FFFFFF;
}/*# sourceMappingURL=index.css.map */