$font-main: 'DM Sans', sans-serif;

:root {
  --main-color: #ffffff;
  --main-rose-color: #ffb8ca;
  --second-rose-color: #ffa5ba;
  --accent-color: #d41443;
  --second-card-color: #f0d1a5;
  --third-card-color: #c2e297;
  --how-it-made-section-color: #fff5f6;
  --border-color: #e1e1e1;
  --second-font-color: #000000;
  --card-font-color: #907e82;
  --modal-background-color: #e17992;
  --quote-color: #fafafa;
}
