$font-main:'DM Sans' sans-serif;

:root {
    --main-white-color:#FFFFFF;
    --main-rose-color:#FFB8CA;
    --second-rose-color:#FFA5BA;
    --accent-color: #D41443;
    --second-card-color:#F0D1A5;
    --third-card-color:#C2E297;
    --how-it-made-section-color:#FFF5F6;
    --border-color:#E1E1E1;
    --second-font-color:#000000;
    --card-font-color:#907E82;
    --modal-background-color:#E17992;
}