<section class="contacts" id="contacts">
  <h2 class="visually-hidden">Our contacts</h2>
  <div class="contacts-list">
    <ul class="contacts-card">
      <li>
        <div class="contacts-top"><p class="contacts-top-text">CAFE</p></div>
      </li>
      <li class="contacts-location">Chicago</li>
      <li class="contacts-text">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </li>
      <li><div class="contacts-border"></div></li>
      <li class="contacts-weekdays">Monday - Friday</li>
      <li class="contacts-work-time">06:00 AM - 10:00 PM</li>
      <li class="contacts-weekend">Saturday - Sunday</li>
      <li class="contacts-work-time">08:00 AM - 16:00 PM</li>
      <li><div class="contacts-border"></div></li>
      <li class="contacts-item">
        <a class="contacnts-tel" href="tel:+61(0)383766284"
          >+61(0) 383 766 284
        </a>
      </li>
      <li class="contacts-item">
        <a class="contacnts-mail" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
    </ul>
    <ul class="contacts-card">
      <li>
        <div class="contacts-top top-color">
          <p class="contacts-top-text">FOODTRUCK</p>
        </div>
      </li>

      <li class="contacts-location">Los Angeles</li>
      <li class="contacts-text">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </li>
      <li><div class="contacts-border"></div></li>
      <li class="contacts-weekdays">Monday - Friday</li>
      <li class="contacts-work-time">06:00 AM - 10:00 PM</li>
      <li class="contacts-weekend">Saturday - Sunday</li>
      <li class="contacts-work-time">08:00 AM - 16:00 PM</li>
      <li><div class="contacts-border"></div></li>
      <li class="contacts-item">
        <a class="contacnts-tel" href="tel:+61(0)383766284"
          >+61(0) 383 766 284
        </a>
      </li>
      <li class="contacts-item">
        <a class="contacnts-mail" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
    </ul>
    <ul class="contacts-card">
      <li>
        <div class="contacts-top"><p class="contacts-top-text">CAFE</p></div>
      </li>

      <li class="contacts-location">New York</li>
      <li class="contacts-text">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </li>
      <li><div class="contacts-border"></div></li>
      <li class="contacts-weekdays">Monday - Friday</li>
      <li class="contacts-work-time">06:00 AM - 10:00 PM</li>
      <li class="contacts-weekend">Saturday - Sunday</li>
      <li class="contacts-work-time">08:00 AM - 16:00 PM</li>
      <li><div class="contacts-border"></div></li>

      <li class="contacts-item">
        <a class="contacnts-tel" href="tel:+61(0)383766284"
          >+61(0) 383 766 284
        </a>
      </li>
      <li class="contacts-item">
        <a class="contacnts-mail" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
    </ul>
  </div>
  <div class="contacts-buttton">
    <button type="submit" class="contacts-btn">
      Our Locations
      <svg class="contacts-icon-btn" width="10" height="10">
        <use href="./svg/sprite.svg#arrow-order"></use>
      </svg>
    </button>
    <button type="submit" class="contacts-btn color-btn">
      Franchise
      <svg class="contacts-icon-btn color-btn" width="10" height="10">
        <use href="./svg/sprite.svg#arrow-order"></use>
      </svg>
    </button>
  </div>
</section>
