<section class="contacts">
  <h1 class="visually-hidden">Our contacts</h1>
  <div id="contacts" class="contacts-list">
    <ul class="contacts-card">
      <li>
        <div class="contacts-top"><p class="contacts-top-text">CAFE</p></div>
      </li>
      <li class="contacts-location">Chicago</li>
      <li class="contacts-text">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </li>
      <li><div class="contacts-border"></div></li>
      <li class="contacts-weekdays">Monday - Friday</li>
      <li class="contacts-work-time">06:00 AM - 10:00 PM</li>
      <li class="contacts-weekend">Saturday - Sunday</li>
      <li class="contacts-work-time">08:00 AM - 16:00 PM</li>
      <li><div class="contacts-border"></div></li>
      <li class="contacts-item">
        <a class="contacnts-tel" href="tel:+61(0)383766284"
          >+61(0) 383 766 284
        </a>
      </li>
      <li class="contacts-item">
        <a class="contacnts-mail" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
    </ul>
    <ul class="contacts-card">
      <li>
        <div class="contacts-top top-color"></div>
        <p class="contacts-top-text">FOODTRUCK</p>
      </li>
      <li class="contacts-location">Los Angeles</li>
      <li class="contacts-text">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </li>
      <li><div class="contacts-border"></div></li>
      <li class="contacts-weekdays">Monday - Friday</li>
      <li class="contacts-work-time">06:00 AM - 10:00 PM</li>
      <li class="contacts-weekend">Saturday - Sunday</li>
      <li class="contacts-work-time">08:00 AM - 16:00 PM</li>
      <li><div class="contacts-border"></div></li>
      <li class="contacts-item">
        <a class="contacnts-tel" href="tel:+61(0)383766284"
          >+61(0) 383 766 284
        </a>
      </li>
      <li class="contacts-item">
        <a class="contacnts-mail" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
    </ul>
    <ul class="contacts-card">
      <li>
        <div class="contacts-top"><p class="contacts-top-text">CAFE</p></div>
      </li>

      <li class="contacts-location">New York</li>
      <li class="contacts-text">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </li>
      <li><div class="contacts-border"></div></li>
      <li class="contacts-weekdays">Monday - Friday</li>
      <li class="contacts-work-time">06:00 AM - 10:00 PM</li>
      <li class="contacts-weekend">Saturday - Sunday</li>
      <li class="contacts-work-time">08:00 AM - 16:00 PM</li>
      <li><div class="contacts-border"></div></li>

      <li class="contacts-item">
        <a class="contacnts-tel" href="tel:+61(0)383766284"
          >+61(0) 383 766 284
        </a>
      </li>
      <li class="contacts-item">
        <a class="contacnts-mail" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
    </ul>
  </div>

  <ul class="contacts-button">
    <li class="contacts-btn-item">
      <button class="contacts-btn" type="button">Our Locations</button>
    </li>
    <li class="contacts-btn-item">
      <button class="contacts-btn color-btn" type="button">Franchise</button>
    </li>
  </ul>
</section>
