<section class="customer-reviews" id="customer-reviews">
  <div class="container">
    <h2 class="visually-hidden">Customer Reviews</h2>
    <div class="the_slider">
      <input type="radio" class="cs_anchor radio" name="slider" id="slide1" />
      <input type="radio" class="cs_anchor radio" name="slider" id="slide2" />
      <input type="radio" class="cs_anchor radio" name="slider" id="slide3" />
      <input
        type="radio"
        class="cs_anchor radio"
        name="slider"
        id="play1"
        checked=""
      />
      <div class="slider_wrap">
        <div class="slider_inner">
          <ul class="slider_slides">
            <li class="slider_slide">
              <img
                class="photo"
                srcset="
                  ./images/cr-curly-girl2_optimized.png 2x,
                  ./images/cr-curly-girl_optimized.png  1x
                "
                src="./images/cr-curly-girl_optimized.png"
                alt="curly girl"
              />
              <blockquote>
                <div class="gradient">
                  <div class="quotetext">
                    <span class="first-word"> Nullam viverra </span>
                    <span class="second-part"
                      >consectetuer. Quisque cursus et, porttitor risus. Aliquam
                      sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
                      ipsum primis in nibh vel risus.</span
                    >
                  </div>
                </div>
              </blockquote>
              <p class="customer-name">Emily, Los Angeles</p>
            </li>
            <li class="slider_slide pad block">
              <img
                class="photo"
                srcset="
                  ./images/cr-girl-in-glasses2_optimized.png 2x,
                  ./images/cr-girl-in-glasses_optimized.png  1x
                "
                src="./images/cr-girl-in-glasses_optimized.png"
                alt="wavy girl"
              />
              <blockquote>
                <div class="gradient">
                  <div class="quotetext">
                    <span class="first-word"> Nullam viverra </span>
                    <span class="second-part"
                      >consectetuer. Quisque cursus et, porttitor risus. Aliquam
                      sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
                      ipsum primis in nibh vel risus.</span
                    >
                  </div>
                </div>
              </blockquote>
              <p class="customer-name">Synthia, Los Angeles</p>
            </li>
            <li class="slider_slide block">
              <img
                class="photo"
                srcset="
                  ./images/cr-girl-in-yellow2_optimized.png 2x,
                  ./images/cr-girl-in-yellow_optimized.png  1x
                "
                src="./images/cr-girl-in-yellow_optimized.png"
                alt="chocolate girl"
              />
              <blockquote>
                <div class="gradient">
                  <div class="quotetext">
                    <span class="first-word"> Nullam viverra </span>
                    <span class="second-part"
                      >consectetuer. Quisque cursus et, porttitor risus. Aliquam
                      sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
                      ipsum primis in nibh vel risus.</span
                    >
                  </div>
                </div>
              </blockquote>
              <p class="customer-name">Gloria, Los Angeles</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="labels">
        <label for="slide1" class="label"></label>
        <label for="slide2" class="label"></label>
        <label for="slide3" class="label"></label>
        <div class="fake-radio">
          <label for="slide1" class="radio-btn"></label>
          <label for="slide2" class="radio-btn"></label>
          <label for="slide3" class="radio-btn"></label>
        </div>
      </div>
    </div>
  </div>
</section>
