<section class="customer-reviews" id="customer-reviews">
  <div class="container">
    <h2 class="visually-hidden">Customer Reviews</h2>
    <!-- <div class="slider">
      <div class="slider_slides">
        <div class="slider_slide active"> -->
          <!-- <picture class="customer-photo">
            <source
              srcset="
                ./images/cr-curly-girl2_optimized.png 2x,
                ./images/cr-curly-girl_optimized.png  1x
              "
              media="(min-width: 320px)"
            /> -->
            <img
              class="photo"
               srcset="
                ./images/cr-curly-girl2_optimized.png 2x,
                ./images/cr-curly-girl_optimized.png  1x
              "
              src="./images/cr-curly-girl_optimized.png"
              alt="curly girl"
            />
          </picture>
          <blockquote>
            <div class="gradient">
            <div class="quotetext">
              <span class="first-word"> Nullam  viverra </span>
              <span class="second">consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.</span>
            </div>
            </div>
          </blockquote>
          <p class="customer-name">Emily, Los Angeles</p>
       
        <!-- <div class="slider_slide">
          <img
            class="photo"
            src="./images/cr-girl-in-glasses_optimized.png"
            alt="curly girl"
          />
          <blockquote>
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </blockquote>
          <p class="customer-name">Emily, Los Angeles</p>
        </div>
        <div class="slider_slide">
          <img
            class="photo"
            src="./images/cr-girl-in-yellow_optimized.png"
            alt="curly girl"
          />
          <blockquote>
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </blockquote>
          <p class="customer-name">Emily, Los Angeles</p>
        </div> -->
        <ul class="slider_nav">
          <li class="active">
            <a href="#"></a>
            <svg class=active_icon width="12.4px" height="12px"><use href="./svg/sprite.svg#house"></use> </svg>
          </li>
          <li class="slider_navlink"><a href="#"></a></li>
          <li class="slider_navlink"><a href="#"></a></li>
        </div>
      </div>
    </div>
     </div>
  </div>
</section>
