<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__text">
        <p class="footer__text-top">homemade ice cream made</p>
        <p class="footer__text-bottom">with passion</p>
      </div>

      <div class="contact">
        <div class="contact__soc">
          <ul class="contact__soc-list list">
            <li class="contact__soc-item">
              <a
                href="https://github.com/"
                target="_blank"
                class="contact__soc-link link"
                ><svg class="contact__soc-icon" width="19" height="19">
                  <use href="/src/svg/sprite.svg#github"></use>
                </svg>
              </a>
            </li>
            <li class="contact__soc-item">
              <a
                href="https://telegram.org"
                target="_blank"
                class="contact__soc-link link"
                ><svg class="contact__soc-icon" width="19" height="15">
                  <use href="/src/svg/sprite.svg#telegram"></use>
                </svg>
              </a>
            </li>
            <li class="contact__soc-item">
              <a
                href="https://facebook.com/"
                target="_blank"
                class="contact__soc-link link"
                ><svg class="contact__soc-icon" width="9" height="20">
                  <use href="/src/svg/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="contact__tel">
          <span class="contact__tel-text">Feel free to contact</span>
          <a href="tel:+610383766284" class="contact__tel-link link"
            >+61 (0) 383 766 284</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="footer__copiright">
    <span class="footer__copiright-text"
      >&copy; 2022 - IceCream. All Rights Reserved.</span
    >
  </div>
</footer>
