<header>
    <div class="header" id="header">
        <div class="container">
            <div class="header-block">
                <div class="header-img"></div>
                <div class="header-block__mobile">
                    <svg class="header-icon" width="199" height="50" aria-label="Logo">
                        <use  href="/src/svg/sprite.svg#logo"></use>
                    </svg> 
                    <button
                        type="button"
                        aria-expanded="false"
                        aria-controls="mobile-site-nav"
                        class="mobile-buton-menue"
                        data-menu-button
                        >
                        <svg class="mobile-buton-menue__icon" width="20" height="20" aria-label="burger">
                            <use class="mobile-buton-menue__icon--menu" href="/src/svg/sprite.svg#burger"></use>
                            <use class="mobile-buton-menue__icon--close" href="/src/svg/sprite.svg#close"></use>
                        </svg>
                    </button> 
                    <div class="mobile-site-nav mobile-backround" id="mobile-site-nav" data-menu>
                        <nav>
                            <button type="button" class="mobile-button__order" data-modal-open>
                                <span class="header-button__order--text">Buy now</span>
                                    <svg  width="5" height="10" aria-label="arrow-order">
                                        <use class="header-button__order--icon"  href="/src/svg/sprite.svg#arrow-order"></use>
                                    </svg>
                            </button>
                            <ul class="list">
                                <li class="mobile-site-nav__item">
                                    <a href="/src/index.html#hero" class="site-nav__link">Home</a>
                                </li>
                                <li class="mobile-site-nav__item">
                                    <a href="/src/index.html#advantages" class="site-nav__link">About us</a>
                                </li>
                                <li class="mobile-site-nav__item">
                                    <a href="/src/index.html#about"  class="site-nav__link">How it’s made?</a>
                                </li>
                                <li class="mobile-site-nav__item">
                                    <a href="/src/index.html#products"  class="site-nav__link">Our products</a>
                                </li>
                                <li class="mobile-site-nav__item">
                                    <a href="/src/index.html#contacts"  class="site-nav__link">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <nav class="" data-menu>
                    <ul class="site-nav list">
                        <li class="site-nav__item">
                            <a href="/src/index.html#hero" class="site-nav__link">Home</a>
                        </li>
                        <li class="site-nav__item">
                            <a href="/src/index.html#advantages" class="site-nav__link">About us</a>
                        </li>
                        <li class="site-nav__item">
                            <a href="/src/index.html#about"  class="site-nav__link">How it’s made?</a>
                        </li>
                        <li class="site-nav__item">
                            <a href="/src/index.html#products"  class="site-nav__link">Our products</a>
                        </li>
                        <li class="site-nav__item">
                            <a href="/src/index.html#contacts"  class="site-nav__link">Contact</a>
                        </li>
                    </ul>
                </nav>
               <button type="button" class="header-button__order" data-modal-open>
                <span class="header-button__order--text">Buy now</span>
                    <svg  width="5" height="10" aria-label="arrow-order">
                        <use class="header-button__order--icon"  href="/src/svg/sprite.svg#arrow-order"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</header>
<section class="hero" id="hero">
    <div class="container-hero">
            <img 
        srcset="/src/images/h-jug-of-milk_optimized.png 1x, /src/images/h-jug-of-milk2_optimized.png 2x"
        src="/src/images/h-jug-of-milk_optimized.png"
        alt="jug-of-milk"
        class="hero-img__jug">
        <img 
            srcset="/src/images/h-ice_optimized.png 1x, /src/images/h-ice2_optimized.png 2x"
            src="/src/images/h-ice_optimized.png"
            alt="ice cream"
            class="hero-img__ice-cream">
        <img 
            srcset="/src/images/h-girl_optimized.png 1x, /src/images/h-girl2_optimized.png 2x"
            src="/src/images/h-girl_optimized.png"
            alt="girl"
            class="hero-img__girl">
        <div class="hero-block">
            <div class="hero-text__left">
                <h1 class="hero-text">ice cream made with <span class="hero-text__red">passion</span></h1>
                <div class="hero-button__block">
                    <a href="/src/index.html#products" class="hero-button">Products</a>
                    <a href="/src/index.html#about" class="hero-button">How it’s made?</a>
                </div>
            </div>
            <ul class="hero-text__right list">
                <li class="hero-text__right--li">
                    <a class="hero-text__right--p">16</a>
                    <p class="hero-text__right--t">cafes</p>
                </li>
                <li class="hero-text__right--li">
                    <a class="hero-text__right--p">23</a>
                    <p class="hero-text__right--t">food trucks</p>
                </li>
            </ul>
        </div>
        <div class="hero-slogan">
            <p class="hero-slogan__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <svg class="hero-slogan__icon" width="26" height="26" aria-label="arrow-right">
                <use href="/src/svg/sprite.svg#arrow-right"></use>
            </svg>
        </div>
    </div>
</section>
    
