<header>
    <div class="header">
        <div class="container">
            <div class="header-block">
                <div>
                    <svg class="header-icon" width="199" height="50" aria-label="Перемикач мобільного меню">
                        <use class="mobail-buton-menue__icon--close" href="/src/svg/sprite.svg#logo"></use>
                    </svg>
                </div>  
                <button
                    type="button"
                    aria-expanded="false"
                    aria-controls="mobile-site-nav"
                    class="mobail-buton-menue"
                    data-menu-button
                    >
                    <svg class="mobail-buton-menue__icon" width="14" height="14" aria-label="Перемикач мобільного меню">
                        <use class="mobail-buton-menue__icon--close" href="/src/svg/sprite.svg#close"></use>
                    </svg>
                    <svg class="mobail-buton-menue__icon" width="20" height="12" aria-label="Перемикач мобільного меню">
                        <use class="mobail-buton-menue__icon--menu" href="/src/svg/sprite.svg#burger"></use>
                    </svg>
                </button> 
                <div class="mobile-site-nav mobile-backround" id="mobile-site-nav" data-menu>
                    <nav>
                        <ul class="list">
                            <li class="mobile-site-nav__item">
                                <a href="./index.html" class="mobile-site-nav__link--main">Студія</a>
                            </li>
                            <li class="mobile-site-nav__item">
                                <a href="./portfolio.html" class="mobile-site-nav__link">Портфоліо</a>
                            </li>
                            <li class="mobile-site-nav__item">
                                <a href="./index.html"  class="mobile-site-nav__link">Контакти</a>
                            </li>
                        </ul>
                    </nav>
                    <div>
                        <ul class="mobail-header-block__contacts list">
                            <li class="mobail-header-block__contacts--item">
                                <a href="tel:+380961111111" class="mobile-header-block__contacts--phone">
                                    +38 096 111 11 11
                                </a>
                            </li>
                            <li class="mobile-header-block__contacts--item">
                                <a href="mailto:info@devstudio.com" class="mobile-header-block__contacts--mail">
                                    info@devstudio.com
                                </a>
                            </li>
                        </ul>
                        <ul class=" mobile-social-networks list" >
                            <li class="mobile-social-networks__item">
                                <a href=".https://www.instagram.com/" class="mobile-social-networks__item--text" lang="en">Instagram</a>
                            </li>
                            <li class="mobile-social-networks__item">
                                <a href="https://twitter.com/" class="mobile-social-networks__item--text" lang="en">Twitter</a>
                            </li>
                            <li class="mobile-social-networks__item">
                                <a href="https://www.facebook.com/" class="mobile-social-networks__item--text" lang="en">Facebook</a>
                            </li>
                            <li class="mobile-social-networks__item">
                                <a href="https://www.linkedin.com/" class="mobile-social-networks__item--text" lang="en">LinkedIn</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>