.about {
  background-color: var(--how-it-made-section-color);
  padding-top: 60px;
  background-image: url(/src/images/ab-milk-bg_mob.png);
  background-repeat: no-repeat;
  background-position-y: 75%;
  background-size: 90%;
  background-position-x: 65%;

  @include tablet {
    background-image: none;
  }

  @include desktop {
    background-image: url(/src/images/ab-milk-bg_optimized.png);
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  &.container {
    @include tablet {
      padding-left: 32px;
      padding-right: 34px;
    }
  }
}

.about__top-text {
  margin-bottom: 15px;
  @include fontStyle(18px, 400, null, 1.16);
  font-family: 'Titan One', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: var(--second-rose-color);

  @include tablet {
    @include fontStyle(26px, 400, null, 1.15);
    margin-bottom: 16px;
  }

  @include desktop {
    @include fontStyle(30px, 400, 0.04em, 1.13);
  }
}

.about__title {
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;

  @include fontStyle(34px, 400, 0.04em, 1.15);
  font-family: 'Titan One', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);

  @include tablet {
    @include fontStyle(48px, 400, 0.04em, 1.145);
    margin-bottom: 40px;
    width: 100%;
  }

  @include desktop {
    @include fontStyle(58px, 400, 0.06em, 1.13);
    margin-bottom: 60px;
  }
}

.about-content-block {
  // background-image: url(/images/ab-milk-bg_mob.png);
  // background-repeat: no-repeat;
  // background-position-y: 67%;
  // background-size: 100%;
  @media screen and (min-width: 768px) {
    display: flex;
    background-image: none;
    justify-content: center;
    align-items: center;
  }
  // @media screen and (min-width: 1200px) {
  //     background-image: url(/images/ab-milk-bg_optimized.png);
  //     background-repeat: no-repeat;
  //     background-position-y: 0%;
  //     background-size: 100%;
  //     margin-left: -20px;
  //     margin-right: -20px;
  //     justify-content: flex-start;}
}

.about-content__img {
  margin: 0 auto 40px;
  max-width: 280px;

  @include tablet {
    max-width: 336px;
    height: auto;
    margin: 0;
  }

  @include desktop {
    max-width: 501px;
    margin-left: 16px;
  }
}

.about-content__text-wrap {
  @include tablet {
    margin-left: 32px;
  }

  @include desktop {
    margin-left: 99px;
  }
}

.about-content__item {
  &:first-child {
    @include fontStyle(12px, 500, null, 1.62);
    color: var(--second-font-color);
    margin: 0 0 25px;
    max-width: 220px;
    font-family: 'DM Sans';

    @media screen and (min-width: 768px) {
      max-width: 334px;
      margin: 0 0 30px;
      @include fontStyle(14px, 500, null, 1.76);
    }

    @include desktop {
      max-width: 463px;
      @include fontStyle(16px, 500, 0.04em, 1.76);
      margin-bottom: 32px;
    }
  }

  &:nth-child(n + 2) {
    @include fontStyle(12px, 500, 0.03em, 1.62);
    color: var(--card-font-color);
    margin-bottom: 20px;
    max-width: 220px;
    font-family: 'DM Sans';

    @include tablet {
      max-width: 334px;
      margin-bottom: 25px;
      @include fontStyle(14px, 500, 0.04em, 1.76);
    }

    @include desktop {
      min-width: 463px;
      @include fontStyle(14px, 500, 0.04em, 1.94);
      margin-bottom: 44px;
    }
  }

  &:nth-child(3) {
    @media screen and (min-width: 768px) {
      margin-bottom: 40px;
    }
  }
}

.about-content__btn {
  @include fontStyle(14px, 700, null, 1.28);
  text-align: center;
  color: var(--accent-color);
  background: var(--main-color);
  border-color: transparent;
  width: 176px;
  height: 44px;
  border-radius: 22px;
  margin: 0 0 20px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    margin: 0;
    @include fontStyle(16px, 700, null, 1.31);
  }

  @include desktop {
    @include fontStyle(16px, 700, null, 1.31);
  }
  &::after {
    content: '';
    width: 10px;
    height: 8px;
    margin-left: 18px;
    background-size: contain;
    background-image: url(/src/images/ab_vector.svg);
    // background-image: url(/src/svg/sprite.svg#ab-vector.svg);

    display: inline-block;
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    background: #ecebeb;
  }
}
