.advantages {
  background-color: #fff5f6;

  padding-top: 20px;
  padding-bottom: 30px;

  @include tablet {
    padding-top: 30;
    padding-bottom: 32;
  }
}

.advantages__list {
  padding: 0;

  @include tablet {
    display: flex;

    
  }
  @include desktop {
    
  }
}

.advantages__item {
  width: 230px;

  &::before {
    content: '';

    display: block;

    margin-bottom: 16px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media screen and (min-width: 768px) {
      margin-bottom: 36px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 40px;
    }
  }

  &--milk {
    &::before {
      width: 33px;
      height: 50px;

      background-image: url('/src/svg/milk.svg');
    }
  }

  &--apples {
    &::before {
      width: 50px;
      height: 50px;

      background-image: url('/src/svg/apples.svg');
    }
  }

  &--heart {
    &::before {
      width: 44px;
      height: 50px;

      background-image: url('/src/svg/heart.svg');
    }
  }

  @media screen and (max-width: 767.98px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 78px) / 4);
    margin-right: 26px;
&:last-child {
    margin-right: 0;
}
  }

  @media screen and (min-width: 1200px) {
    
    flex-basis: calc((100% - 390px) / 3);
    margin-right: 130px;
&:last-child {
    margin-right: 0;
}
}
}

.advantages__numbers {
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 16px;
  font-family: Titan One, cursive;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.14;

  @include tablet {
    text-transform: lowercase;
    font-size: 48px;
    line-height: 1.38;
  }
  @include desktop {
    font-size: 58px;
    line-height: 1.14;
  }

  animation-name: changeColor;
  animation-duration: 1500ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  @keyframes changeColor {
    0% {
      color: #ffa5ba;
    }

    100% {
      color: #d41443;
    }
  }
}

.advantages__text {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.67;


  @include tablet {
    font-size: 14px;
    line-height: 1.71;
  }
  @include desktop {
    font-size: 16px;
    line-height: 1.75;
  }
}
